<?xml version="1.0"?>
<launch>

  <arg name="hostname" default="localhost" />

	<!-- Segmentation -->
  <node name="squirrel_segmentation" pkg="squirrel_segmentation" type="squirrel_segmentation" required="true" output="screen">
  </node>

  <node name="squirrel_segmentation_visualization" pkg="squirrel_segmentation" type="squirrel_segmentation_visualization" output="screen">
  </node>

  <node name="image_view" pkg="image_view" type="image_view">
			<remap from="image" to="/squirrel_segmentation_visualization_segmentation" />
  </node>

  <!-- Classification -->
  <!--node pkg="object_classifier" type="object_classifier_node" name="v4r_object_classifier" output="screen" >
    <param name="models_dir" value="$(arg models_dir)" type="string"/>
    <param name="training_dir" value="$(arg training_dir)" type="string"/>
    <param name="nn" value="$(arg nn)" type="int"/>
    <param name="chop_z" value="$(arg chop_z)" type="double"/>
  </node-->

  <include file="$(find squirrel_active_exploration)/launch/esf_classifier.launch" />

	<!-- Entropy map -->
	<!--include file="$(find squirrel_active_exploration)/launch/entropy_map.launch" /-->

	<!-- Planning -->
	<include file="$(find squirrel_active_exploration)/launch/active_exploration_server.launch" />

</launch>
